.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
examples/**
.pytest_cache/**
!images/icon.png
**/*.mp4
**/*.pxd
**/*.gif